<%- include('../partials/header') %>

    <h1>Defend the Ancients by helping IceFrog create the next Hero</h1>

    <% if (user) { %>
        <a href="/heros/new"><button>Create Hero</button></a>
    <% } else {  %>
        <a href="/auth/google" class="login"><button>Get Started!</button></a>
    <% } %> 

    <br>

    <% heros.forEach(hero => { %>
        <div>

        </div>
        <tr>
            <td><a href="/heros/<%= hero._id %>"><%= hero.name %></td></a>
            <td><%= hero.attackType %></td>
            <td><%= hero.primaryAttribute %></td>
            <td><%= hero.secondaryAttribute %></td>
            <td><%= hero.abilityOne %></td>
            <td><%= hero.abilityTwo %></td>
            <td><%= hero.abilityThree %></td>
            <td><%= hero.abilityFour %></td>
            <td><%= hero.lore %> </td>
            <br>
        </tr>
    <% }) %>

    
</body>
</html>