<%- include('../partials/header') %>
<div class="show-grid-container">
    <div class=" show-grid-item bio">
        <img src="https://i.imgur.com/z38xvNa.png" alt="" class="<%= hero.primaryAttribute == 'Agility' ?  'active' : 'hidden'%>">
        <img src="https://i.imgur.com/3i9DTpH.png" alt="" class="<%= hero.primaryAttribute == 'Intelligence' ? 'active' : 'hidden'%>">
        <img src="https://i.imgur.com/2tB2qA7.png" alt="" class="<%= hero.primaryAttribute == 'Strength' ? 'active' : 'hidden'%>">
        <span class="pAttribute"><%= hero.primaryAttribute %></span>
        <div class="name"><%= hero.name %></div>
        <div class="lore"><%= hero.lore %> </div>
        <div class="bottom-bio">
            <div class="atk-label">Attack Type</div>
            <div class="atk-type"><%= hero.attackType %></div>
            <div class="uName-label">Created by</div>
            <div class="uName"><%= hero.userName.split(' ').splice(0,1).join() %> </div>
            <div>
                <% if (user?._id.equals(hero.user)) { %>
                    <form action="/heros/<%= hero._id %>/edit" method="GET">
                        <input type="submit" value="Edit" class="edit-btn">
                    </form>
                    <form action="/heros/<%= hero._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="delete-btn">
                    </form>
                <% } %>
            </div>
        </div>
    </div>
    
    <div class="right">
        <div class="right-image">
            <img src="<%= hero.image %>" alt="">
        </div>
        <div class="abilities">
            <div class="ability ab1">
                <img src="https://i.imgur.com/pxemOj8.png" alt="" class="img1">
                <div class="hide-ability-desc">
                    
                        <div><%= hero.abilityOne %></div><br>
                        <div><%= hero.ab1Name %></div><br>
                        <div><%= hero.ab1Desc %></div>
                    
                </div>
            </div>

            <div class="ability ab2">
                <img src="https://i.imgur.com/hWgcHoa.png" alt="">
                <div class="hide-ability-desc">
                    
                    <div><%= hero.abilityTwo %></div><br>
                    <div><%= hero.ab2Name %></div><br>
                    <div><%= hero.ab2Desc %></div>
                    
                </div>
            </div>

            <div class="ability ab3">
                <img src="https://i.imgur.com/ZOC5wq8.png" alt="">
                <div class="hide-ability-desc">
                    
                        <div><%= hero.abilityThree %></div><br>
                        <div><%= hero.ab3Name %></div><br>
                        <div><%= hero.ab3Desc %></div>
                    
                </div>
            </div>

            <div class="ability ab4 popup-container">
                <img src="https://i.imgur.com/OWY1q7S.png" alt="" class="ab4img">
                <div class="hide-ability-desc popup-body popup-bottom">
                    <div><%= hero.abilityFour %></div><br>
                    <div><%= hero.ab4Name %></div><br>
                    <div><%= hero.ab4Desc %></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="testarea">
    <div class="hide-ability1-desc">
        <div>
            <div><%= hero.abilityOne %></div><br>
            <div><%= hero.ab1Name %></div><br>
            <div><%= hero.ab1Desc %></div>
        </div>
    </div>
    <div class="hide-ability2-desc">
        <div>
            <div><%= hero.abilityTwo %></div><br>
        <div><%= hero.ab2Name %></div><br>
        <div><%= hero.ab2Desc %></div>
        </div>
    </div>
    <div class="hide-ability3-desc">
        <div>
            <div><%= hero.abilityThree %></div><br>
            <div><%= hero.ab3Name %></div><br>
            <div><%= hero.ab3Desc %></div>
        </div>
    </div>
    <div class="hide-ability4-desc popup-body popup-bottom">
        <div><%= hero.abilityFour %></div><br>
        <div><%= hero.ab4Name %></div><br>
        <div><%= hero.ab4Desc %></div>
    </div>
</div> -->


<div class="comment-container">
    <div class="comments">
        <% if (hero.comments.length) { %>
            <h2>Comments</h2><br>
            <% hero.comments.forEach(comment => { %>
                <div>
                    <div class="comment"><%= comment.comment %></div>
                    <br>
                    <div><%= comment.userName.split(' ').splice(0,1).join() %></div>
                    <div><%= comment.createdAt.toLocaleDateString() %></div>
                </div>
                <br>
                <% if (user?._id.equals(comment.user)) { %>
                    <form action="/comments/<%= comment._id %>?_method=DELETE" method="post">
                        <input type="submit" value="Delete" class="delete-btn">
                    </form>
                    <br><br>
                <% } %>
            <% }) %>
        <% } else { %>
            <h4>No Comments</h4>
        <% } %>
    </div>

    <div class="comment-box">
        <% if (user) { %>
            <form id="add-comment-form" action="/heros/<%= hero._id %>/comments" method="post">
                <textarea name="comment" id="" cols="30" rows="5" placeholder="Leave a comment!"></textarea>
                <br>
                <input type="submit" value="Add Comment" class="comment-btn">
            </form>
        <% } %>
    </div>
</div>




<%- include('../partials/footer') %>